@model ShopProject.Areas.Shopper.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Shopper/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="col-lg-12" style="text-align:center; margin:15px 0px 0px 0px;">
          <span style="font-size:19px; font-weight:bold; color:green;">  @Html.DisplayFor(model => model.TieuDe)</span>
    </div>
    <div>
        <div class="col-lg-7">
           
            <div class="col-lg-3" >
                <span style="font-size:10px; ">Chủ đề:</span>
                <span style="font-size:10px;">  @Html.DisplayFor(model => model.Theme.TenChuDe)</span>

            </div>
            <div class="col-lg-4">
                <span style="font-size:10px;">Ngày đăng:</span>
                <span style="font-size:10px;">@Html.DisplayFor(model => model.NgayDang)</span>
            </div>
           
        </div>
    </div>
    <div >
        <div class="col-lg-12"style=" margin: 25px 0px 25px 0px;">
            <span style="text-align:center;"> @Html.Raw(Model.NoiDung)</span> 
        </div>
    </div>
</div>



