
<link href="~/Areas/Shopper/Content/carou/nivo-slider.css" rel="stylesheet" media="screen" />
<div  >
  

    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
             <img src="~/Image/slide3.jpg" alt="" title="Cần Câu Aquarius"/>
            <img src="~/Image/slide55.png"  alt="" title="Máy Câu câu Heliot" />
            <img src="~/Image/slide22.jpg" alt=""  title="Cần Câu Auroda" />
            
        </div>
       
    </div>

</div>

<script src="~/Areas/Shopper/Content/carou/jquery.nivo.slider.js"></script>

<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider();
    });
</script>